/*** GENERELT ***/
html {
  --primary: #000;
  --secondary: #fff;
  --heading: #dda06a;
  --box: #ffe393;
  --background: #fffcfc;

  --h1Text: "overpass", sans-serif;
  --h2Text: "overpass", sans-serif;
  --h3Text: "overpass", sans-serif;
  --h4Text: "overpass", sans-serif;
  --paragraph: "manrope", sans-serif;
  --anchor: "overpass", sans-serif;

  --space-xxs: 0.9rem;
  --space-xs: 1rem;
  --space-sm: 1.1rem;
  --space-md: 1.3rem;
  --space-lg: 1.5rem;
  --space-xl: 1.6rem;
  --space-xxl: 2rem;
  --space-xxxl: 3rem;

  background-color: var(--background);
}

* {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

img,
video {
  width: 100%;
  height: auto;
}

/*** FONTE ***/
h1 {
  font-family: var(--h1Text);
  color: var(--heading);
  font-size: clamp(
    1.6rem,
    1.4600000000000002rem + 0.6999999999999997vw,
    2.3rem
  );
  line-height: var(--space-xxl);
}

h2 {
  font-family: var(--h2Text);
  color: var(--primary);
  line-height: var(--space-xxl);
  font-size: clamp(1.3rem, 1.24rem + 0.30000000000000004vw, 1.6rem);
}

h3 {
  font-family: var(--h3Text);
  font-size: clamp(1rem, 0.94rem + 0.30000000000000004vw, 1.3rem);
  line-height: var(--space-md);
}

p {
  font-family: var(--paragraph);
  line-height: var(--space-xxl);
  font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
}

a {
  font-family: var(--anchor);
  font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
  line-height: var(--space-xxs);
}

li {
  font-family: var(--paragraph);
  font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
  line-height: var(--space-xl);
}

.logo a {
  font-size: clamp(1.3rem, 1.22rem + 0.3999999999999999vw, 1.7rem);
}

.tal_about {
  font-family: var(--h1Text);
  font-size: clamp(1.8rem, 1.6600000000000001rem + 0.7vw, 2.5rem);
  color: var(--heading);
}

.cv_her_link {
  font-family: var(--paragraph);
  line-height: var(--space-xl);
  font-size: clamp(0.9rem, 0.86rem + 0.2000000000000001vw, 1.1rem);
}

/*** svg fil som danner stregen efter h1 som overskrift ***/
.streg_efter_tekst {
  display: flex;
}

/*** svg fil som danner stregen efter h1 som overskrift ***/
.streg_img {
  margin-left: 1rem;
}

/*** GENERELT I MOBILE ***/
.main {
  padding-inline: 2rem;
}

/*** HEADER MENU I MOBILE ***/
/* ............... header ...........*/
header {
  margin-inline: var(--space-xxl);
}
/* ............. logo ............*/
.logo {
  color: var(--primary);
  list-style: none;
}

.logo a {
  text-decoration: none;
  color: var(--primary);
  margin-right: -2.5rem;
  display: block ruby;
  padding-top: 0.2rem;
}

/*  .......... Nav ......... */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav_links {
  display: flex;
  gap: 4rem;
}

.nav_links li {
  list-style: none;
  transition: all ease-in 0.1s;
}

.nav_links a {
  text-decoration: none;
  letter-spacing: 0.125rem;
  font-weight: bold;
  font-size: var(--space-sm);
}

.nav_links li:hover {
  scale: 1.1;
}

.nav_links li a:hover {
  text-decoration-line: underline;
}

/*  .......... Burgermenu ......... */
.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: var(--primary);
  transition: all 0.3s ease;
  margin-left: 10rem;
  z-index: 100;
}

.burger {
  cursor: pointer;
  display: none;
}

/*** FOOTER ***/
footer {
  margin-top: 4rem;
  margin-inline: 2rem;
}

.footer_section,
.footer_SoMe,
.footer_div {
  display: flex;
}
.footer_section {
  justify-content: space-between;
  margin-block: 1rem;
}

.footer_div {
  gap: 1.5rem;
  padding-left: 0px;
}

.footer_div li {
  list-style: none;
}

.footer_SoMe {
  margin-top: 0.6rem;
  gap: 0.4rem;
}

.footer_div a {
  text-decoration: none;
  color: black;
}

.footer_div a:hover {
  text-decoration-line: underline;
}

/*** FORSIDE ***/
.hero_images {
  display: grid;
}

.gul_boks {
  background-color: var(--box);
  width: 22rem;
  height: 30rem;
  grid-area: 1/1;
  place-self: center end;
  margin-top: 8rem;
}

.gul_boks {
  -webkit-animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
  animation: fade-in 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-3-29 23:27:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.orange_boks {
  background-color: var(--heading);
  width: 13rem;
  height: 30rem;
  grid-area: 1/1;
  place-self: center center;
  margin-top: -6rem;
}

.orange_boks {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
}

.mig_img {
  width: 19rem;
  grid-area: 1/1;
  place-self: end baseline;
  margin-left: -1rem;
}

.mig_img {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
}

.portfolio_titel {
  grid-area: 1/1;
  justify-content: center;
  display: flex;
}

.portfolio_titel {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
}

.portfolio_titel p {
  text-align: center;
  font-size: var(--space-xxxl);
  letter-spacing: 0.6rem;
}

.navn_hero {
  grid-area: 1/1;
  rotate: -90deg;
  place-self: center end;
  font-size: var(--space-md);
  font-family: var(--h3Text);
  font-size: 1.5rem;
  margin-inline: -3rem;
}

.navn_hero {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
}

.hvid_boks_grid {
  display: grid;
  margin-top: -4rem;
  margin-left: 10rem;
}

.hvid_boks_grid {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
}

.hvid_boks {
  grid-area: 1/1;
  background-color: var(--secondary);
  width: 12rem;
  height: 4rem;
  margin-top: 0rem;
}

.SoMe,
.resume {
  display: block;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.SoMe a,
.resume a {
  color: var(--primary);
}

.SoMe p,
.resume p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.intro_forside {
  display: block;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
}

.intro_forside p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary);
  list-style: none;
}

.intro_forside a {
  color: var(--primary);
}

.tre_genveje_forside {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.tre_genveje_forside li {
  list-style: none;
  transition: all ease-in 0.1s;
}

.tre_genveje_forside a {
  text-decoration: none;
  color: var(--primary);
  letter-spacing: 0.125rem;
  font-weight: bold;
}

/*** ABOUT ***/
.kompetence_section {
  margin-block: 2rem;
}

.img_about {
  margin-block: 1rem 2rem;
}

.cv_her_link {
  color: black;
}

.cv_her_link:hover {
  color: #dda06a;
}

.speciel_h2 {
  font-family: var(--h1Text);
  color: var(--heading);
  font-size: var(--space-xl);
  line-height: var(--space-xxl);
}

.ul_about {
  margin-left: -1.5rem;
}

/*** KONTAKT ***/
.mail_mobil_div {
  display: flex;
  gap: 3rem;
}

/*** WORK ***/
figure {
  margin-inline: 0rem;
}

.projekter_wrapper .boks {
  margin-block: 3rem;
}

.overskrift_boks {
  margin-bottom: 0rem;
}

.kompetencer_boks {
  margin-block: 1rem;
}

.kompetencer_boks p {
  line-height: 1rem;
}

/*** LILLE TABLET ***/
@media (min-width: 640px) {
  /**** GENERELT ***/
  .main {
    padding-inline: 2rem;
  }

  /*** NAV ***/
  nav {
    justify-content: space-between;
  }

  /*** FOOTER ***/
  .footer_SoMe {
    gap: 1.5rem;
  }

  /*** FORSIDE ***/
  .gul_boks {
    width: 35rem;
  }

  .orange_boks {
    width: 17rem;
  }

  .navn_hero {
    margin-inline: -1rem;
  }

  .portfolio_titel p {
    letter-spacing: 1rem;
  }

  .hvid_boks_grid {
    margin-left: 23rem;
  }

  .tre_genveje_forside {
    justify-content: space-evenly;
  }

  .intro_forside {
    margin-right: 0rem;
  }

  /**** ABOUT ***/

  /**** WORK ***/
  .projekter_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .projekter_wrapper .boks {
    margin-block: 0rem;
  }

  /* CONTACT - INGEN RETTELSER */
}

@media (max-width: 768px) {
  /**** GENERELT ***/
  .main {
    padding-inline: 2rem;
  }

  /*** NAV ***/
  .nav_links {
    position: absolute;
    right: 0px;
    height: 65vh;
    top: 8.5vh;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
    transform: translateX(100%);
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    z-index: 1;
  }

  .nav_links li a {
    color: var(--primary);
  }

  /*  .......... Burgermenu ......... */
  /*  ...Inspiration: https://www.youtube.com/watch?v=gXkqy0b4M5g ......... */

  .burger {
    display: block;
  }

  /*  .......... Burgermenu toggle former sig om X......... */

  .nav_toggle {
    transform: translateX(0%);
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /*  ..... Burgermenu hover effekt (linerne bevæger sig fra hinanden) ......... */

  .hover .line1 {
    transform: translateY(-3px);
    transition: all 0.3s;
  }

  .hover .line2 {
    opacity: 0;
    transition: all 0.3s;
  }

  .hover .line3 {
    transform: translateY(3px);
    transition: all 0.3s;
  }

  /**** FOOTER ***/
  /**** FORSIDE ***/
  /**** ABOUT ***/
  /**** WORK ***/
  /* CONTACT - INGEN RETTELSER */
}

/*** TABLET ***/
@media (min-width: 768px) {
  /**** GENERELT ***/
  .main {
    padding-inline: 4rem;
    padding-block: 2rem;
  }

  /**** NAV ****/
  .tre_menupunkter a {
    color: var(--primary);
  }

  /*** FOOTER ***/
  .footer_div li:hover,
  .footer_SoMe a:hover {
    scale: 1.1;
    transition: all ease-in 0.1s;
  }

  /*** FORSIDE ***/
  .navn_hero {
    margin-inline: 0rem;
  }

  .hvid_boks li:hover {
    scale: 1.1;
    transition: all ease-in 0.1s;
  }

  .intro_forside p:hover {
    scale: 1.05;
    transition: all ease-in 0.1s;
  }

  .gul_boks {
    width: 39rem;
  }

  .hvid_boks_grid {
    margin-left: 27rem;
  }

  .intro_forside {
    margin-inline: 3rem;
  }

  .tre_genveje_forside {
    margin-top: 2rem;
  }

  /*** ABOUT ***/
  .about_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .about_grid img {
    max-width: 100%;
  }

  .en_to_tre_kompetencer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .en_to_tre_kompetencer h3 {
    line-height: var(--space-xl);
  }

  /*** CONTACT ***/
  .praktikant_tekst {
    display: flex;
    gap: 4rem;
  }

  .mail_mobil_div {
    display: block;
    margin-top: 3.5rem;
  }

  /* WORK */
  .projekter_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
  }
}

/*** LILLE DEKSTOP ***/
@media (min-width: 1024px) {
  /**** GENERELT ***/
  .main {
    padding-inline: 6rem;
    padding-block: 4rem;
  }

  /**** NAV ***/
  header {
    margin-top: 2rem;
    margin-inline: 4rem;
  }

  /**** FOOTER ***/
  footer {
    margin-inline: 4rem;
  }

  /**** FORSIDE ***/
  .gul_boks {
    width: 58rem;
    margin-top: 0rem;
  }

  .hvid_boks {
    width: 18rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding-top: 1rem;
  }

  .hvid_boks_grid {
    margin-left: 40rem;
  }

  .mig_img {
    place-self: end center;
    margin-left: -8rem;
  }

  .navn_hero {
    rotate: 0deg;
    place-self: center;
    margin-left: 25rem;
    margin-bottom: 17rem;
  }

  .portfolio_titel {
    display: block;
    margin-top: 6rem;
    margin-left: -2rem;
  }

  .portfolio_titel p {
    text-align: left;
    font-size: 4rem;
    letter-spacing: 1.6rem;
  }

  .intro_forside {
    grid-area: 1/1;
    text-align: left;
    margin-inline: 3rem;
    place-self: center flex-start;
    padding-left: 32.3rem;
  }

  .intro_forside {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  }

  .hvid_boks_grid {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s
      both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
  }

  #velkommen {
    margin-top: 4rem;
  }

  .intro_forside p {
    text-align: center;
    margin-right: 10.5rem;
  }

  /**** ABOUT ***/

  .about_grid {
    margin-inline: 6rem;
    gap: 3rem;
  }

  .en_to_tre_kompetencer {
    display: flex;
  }

  .en_to_tre_kompetencer div {
    justify-content: space-evenly;
  }

  .slide-in-fwd-center_2,
  .slide-in-fwd-center_3 {
    margin-inline: 2rem;
  }

  .slide-in-fwd-center_1 {
    -webkit-animation: slide-in-fwd-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s
      both;
  }

  .slide-in-fwd-center_2 {
    -webkit-animation: slide-in-fwd-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2s
      both;
  }

  .slide-in-fwd-center_3 {
    -webkit-animation: slide-in-fwd-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 3s
      both;
  }

  .slide-in-fwd-center_4 {
    -webkit-animation: slide-in-fwd-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s both;
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 4s
      both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-3-29 17:56:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }

  /**** CONTACT ***/

  /**** WORK ***/
  figure {
    display: grid;
    margin: 0rem;
  }

  .image {
    grid-area: 1/1;
  }

  .image_overlay {
    grid-area: 1/1;
    opacity: 0;
    text-align: center;
    display: grid;
    place-content: center;
  }

  .overskrift_boks {
    font-size: var(--space-xxl);
    color: var(--secondary);
    margin-block: 0rem;
  }

  .kompetencer_boks {
    margin-block: 0.7rem;
  }

  .kompetencer_boks p {
    color: var(--secondary);
    line-height: 0.7rem;
  }

  .link_boks {
    color: var(--secondary);
    margin-top: 2rem;
  }

  .link_boks {
    text-decoration: none;
    margin-top: 0rem;
  }

  .link_boks h3 {
    margin-block: 0rem;
  }

  .link_boks:hover {
    text-decoration: underline;
  }

  .image_overlay:hover {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    opacity: 1;
    border: 1px white solid;
  }

  .fade_in_1 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  }

  /* ----------------------------------------------
     * Generated by Animista on 2022-3-28 10:48:14
     * Licensed under FreeBSD License.
     * See http://animista.net/license for more info. 
     * w: http://animista.net, t: @cssanimista
     * ---------------------------------------------- */

  /**
     * ----------------------------------------
     * animation fade-in
     * ----------------------------------------
     */
  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade_in_2 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s
      both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  }

  .fade_in_3 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2s both;
  }

  .fade_in_4 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s
      both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 2.5s both;
  }

  .fade_in_5 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  }

  .fade_in_6 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s
      both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
  }

  .slide-in-fwd-center:hover {
    -webkit-animation: slide-in-fwd-center 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-fwd-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-3-28 11:38:51
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
  @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
}

/*** STOR DESKTOP ***/
@media (min-width: 1280px) {
  #loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  #loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--heading);

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
  }

  #loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--heading);

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  #loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: var(--heading);

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  }

  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg); /* IE 9 */
      transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg); /* IE 9 */
      transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg); /* IE 9 */
      transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
    }
    100% {
      -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg); /* IE 9 */
      transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
    }
  }

  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #000;
    z-index: 1000;
    -webkit-transform: translateX(0); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0); /* IE 9 */
    transform: translateX(0); /* Firefox 16+, IE 10+, Opera */
  }

  #loader-wrapper .loader-section.section-left {
    left: 0;
  }

  #loader-wrapper .loader-section.section-right {
    right: 0;
  }

  /* Loaded */
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(-100%); /* IE 9 */
    transform: translateX(-100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 1s 2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 1s 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(100%); /* IE 9 */
    transform: translateX(100%); /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 1s 2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 1s 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
  }

  .loaded #loader-wrapper {
    visibility: hidden;
  }

  /**** GENERELT ***/
  .main {
    padding-inline: 8rem;
  }

  /**** NAV ***/
  header {
    margin-top: 2rem;
    margin-inline: 4rem;
  }
  /**** FOOTER ***/
  /**** FORSIDE ***/
  .gul_boks {
    width: 86rem;
    height: 38rem;
  }

  .gul_boks {
    -webkit-animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
    animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) 3s both;
  }

  .orange_boks {
    width: 21rem;
    place-self: first baseline center;
    margin-right: 21rem;
    height: 33rem;
    margin-top: -11rem;
  }

  .orange_boks {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 3.55s both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 3.5s both;
  }

  .mig_img {
    width: 25rem;
    margin-left: -30rem;
  }

  .mig_img {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 4.5s both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 4.5s both;
  }

  .portfolio_titel {
    margin-top: 10rem;
  }

  .portfolio_titel {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 4s both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 4s both;
  }

  .navn_hero {
    margin-left: 10rem;
  }

  .navn_hero {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 5s both;
  }

  .hvid_boks_grid {
    margin-left: 52rem;
  }

  .hvid_boks_grid {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 6s both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 6s both;
  }

  .hvid_boks {
    width: 34rem;
    height: 4rem;
    margin-top: -1rem;
  }

  .intro_forside {
    padding-left: 38.8rem;
    margin-bottom: 6rem;
  }

  .intro_forside {
    -webkit-animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 5.5s both;
    animation: fade-in 3s cubic-bezier(0.39, 0.575, 0.565, 1) 5.5s both;
  }

  .intro_forside h3 {
    padding-right: 2rem;
    line-height: 1.7rem;
    letter-spacing: 0.06rem;
  }

  .intro_forside p {
    text-align: center;
    margin-right: 31.3rem;
  }

  /**** ABOUT ***/
  .about_grid {
    margin-inline: 9rem;
  }

  /**** WORK ***/

  /**** CONTACT  ****/
  .praktikant_tekst p {
    margin-right: 5rem;
  }
}

/*** EKSTRASTOR DESKTOP ***/
@media (min-width: 1536px) {
  /**** GENERELT ***/
  .main {
    padding-inline: 10rem;
  }

  /**** NAV ***/
  /**** FOOTER ***/
  /**** FORSIDE ***/
  #velkommen {
    margin-inline: 10rem;
  }

  .gul_boks {
    width: 86rem;
  }

  .orange_boks {
    margin-right: 12rem;
  }

  .mig_img {
    margin-left: -23rem;
  }

  .navn_hero {
    margin-left: 18rem;
  }

  .portfolio_titel {
    margin-left: -3rem;
  }

  .portfolio_titel p {
    font-size: 5rem;
  }

  .hvid_boks_grid {
    margin-left: 52rem;
  }

  .hvid_boks {
    width: 34rem;
  }

  .intro_forside {
    padding-left: 42.8rem;
    margin-bottom: 8rem;
  }

  .intro_forside h3 {
    padding-right: 2rem;
  }
}
